PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/vendi
DB_USERNAME=user
DB_PASSWORD=1234
JWT_SECRET=changeme-dev-only
FRONTEND_BASE_URL=http://localhost:3333
PHOTO_STORAGE_PATH=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
